*{
	margin:0;
	padding:0;
}
html,body{
	position: relative;
	height: 100%;
}	
html{
	font-size: 100%;
}
body{
	background-color:#eee;
	font-size: 1rem;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #000;
}
			
.mod_title{
	font-weight: bold;
    font-size: 1.4rem;
    position: relative;
    height: 57px;
    line-height: 57px;
    margin-top: 0;
    margin-bottom: 0;
    background: #f7f7f7;
   	border-bottom: 1px solid #ccc;
}
.icon-d{
	display: inline-block;
	position: relative;
	width: 35px;
	height: 35px;
}